---
title: Javascript
layout: post
pagination:
    enabled: true
    category: javascript
    per_page: 5
---

<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>
        <div class="post-list__meta">
            <time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time>
            {% if post.tags.size > 0 %}
            &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
            {% endif %}
        </div>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
    <nav class="pagination" role="navigation">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/01.intro/" title="Previous Page">← 이전포스트</a>
        {% else %}
          <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/01.intro/page{{ paginator.previous_page }}/">← 이전포스트</a>
        {% endif %}
      {% endif %}

      <span class="pagination__page-number">Page {{ paginator.page}} of {{ paginator.total_pages}}</span>

      {% if paginator.next_page %}
        <a rel="next" class="posts older btn small" href="{{ site.baseurl }}/01.intro/page{{ paginator.next_page }}/">다음포스트 →</a>
      {% endif %}
    </nav>
  {% endif %}

</div>
